<div class="min-h-screen flex flex-col">
  <app-header></app-header>

  <main class="flex-grow relative">
    <div class="p-4 pt-10 w-full max-w-screen-sm mx-auto">
      <mat-card class="p-6 rounded-2xl shadow-md hover:shadow-lg transition">
        <h2
          class="text-xl font-semibold text-center mb-6 text-gray-900 dark:text-gray-200"
        >
          Forgot Password
        </h2>
        <p class="text-center text-gray-700 dark:text-gray-300 mb-6">
          Enter your email address below and we’ll send you instructions to
          reset your password.
        </p>

        <form
          #forgotPasswordForm="ngForm"
          (ngSubmit)="onSubmit()"
          class="flex flex-col gap-4"
        >
          <!-- Email -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              name="email"
              [(ngModel)]="forgotPasswordDto.email"
              required
              email
              #emailCtrl="ngModel"
            />
            <mat-error *ngIf="emailCtrl.invalid && emailCtrl.touched">
              <ng-container *ngIf="emailCtrl.errors?.['required']">
                Email is required
              </ng-container>
              <ng-container *ngIf="emailCtrl.errors?.['email']">
                Invalid email address
              </ng-container>
            </mat-error>
          </mat-form-field>

          <!-- Submit -->
          <button
            mat-flat-button
            color="primary"
            class="rounded-xl shadow-md mt-4 dark:bg-blue-700 dark:text-white"
            type="submit"
            [disabled]="!forgotPasswordForm.valid"
          >
            Send Reset Link
          </button>
        </form>

        <div class="text-center text-sm text-gray-600 dark:text-gray-300 mt-6">
          Remembered your password?
          <a
            routerLink="/account/login"
            class="text-primary-app text-sm font-semibold hover:underline dark:text-blue-400"
          >
            Back to login
          </a>
        </div>
      </mat-card>
    </div>
  </main>

  <app-footer></app-footer>
</div>
