<div class="p-6 w-full max-w-sm">
  <h2 class="text-xl font-semibold mb-4 text-primary-app dark:text-blue-400">
    Create {{ entityName }}
  </h2>

  <form class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="create()">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Enter {{ entityName | lowercase }} name</mat-label>

      <input matInput formControlName="name" autocomplete="off" #inputEl />

      @let name = form.controls.name;

      @if ((name.touched || name.dirty) && name.invalid) {
        <mat-error>
          @switch (true) {
            @case (name.errors?.["required"]) {
              Name is required
            }

            @case (name.errors?.["minMaxLength"]?.reason === "min") {
              Minimum
              {{ name.errors?.["minMaxLength"]?.requiredLength }}
              characters (currently
              {{ name.errors?.["minMaxLength"]?.actualLength }})
            }

            @case (name.errors?.["minMaxLength"]?.reason === "max") {
              Maximum
              {{ name.errors?.["minMaxLength"]?.requiredLength }}
              characters
            }
          }
        </mat-error>
      }
    </mat-form-field>

    <div class="flex justify-end gap-3 pt-2">
      <button
        mat-stroked-button
        type="button"
        (click)="cancel()"
        class="min-w-[100px] border-0 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-200"
      >
        Cancel
      </button>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="form.invalid || loading"
        class="min-w-[100px] flex items-center justify-center gap-2"
      >
        @if (loading) {
          <mat-spinner diameter="20"></mat-spinner>
        } @else {
          <span>Create</span>
        }
      </button>
    </div>
  </form>
</div>
