<div class="min-h-screen flex flex-col">
  <app-header></app-header>

  <main class="flex-grow relative">
    <div class="p-4 pt-10 w-full max-w-screen-sm mx-auto">
      <mat-card class="p-6 rounded-2xl shadow-md hover:shadow-lg transition">
        <h2
          class="text-xl font-semibold text-center mb-6 text-gray-900 dark:text-gray-200"
        >
          Create Account
        </h2>

        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="flex flex-col gap-4"
        >
          <!-- First Name -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>First Name</mat-label>

            <input matInput type="text" formControlName="firstName" />

            @let firstName = form.controls.firstName;

            @if (firstName?.touched && firstName?.invalid) {
              <mat-error>
                @switch (true) {
                  @case (firstName.errors?.["required"]) {
                    First name is required
                  }
                  @case (
                    firstName.errors?.["personName"]?.reason === "length"
                  ) {
                    Minimum
                    {{ lastName?.errors?.["personName"]?.minLength }} characters
                  }
                  @case (
                    firstName?.errors?.["personName"]?.reason ===
                    "invalidFormat"
                  ) {
                    Only letters, spaces, apostrophes and hyphens allowed
                  }
                }
              </mat-error>
            }
          </mat-form-field>

          <!-- Last Name -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Last Name</mat-label>

            <input matInput type="text" formControlName="lastName" />

            @let lastName = form.controls.lastName;

            @if (lastName?.touched && lastName?.invalid) {
              <mat-error>
                @switch (true) {
                  @case (lastName.errors?.["required"]) {
                    Last name is required
                  }
                  @case (lastName.errors?.["personName"]?.reason === "length") {
                    Minimum
                    {{ lastName?.errors?.["personName"]?.minLength }} characters
                  }
                  @case (
                    lastName?.errors?.["personName"]?.reason === "invalidFormat"
                  ) {
                    Only letters, spaces, apostrophes and hyphens allowed
                  }
                }
              </mat-error>
            }
          </mat-form-field>

          <!-- Email -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Email</mat-label>

            <input matInput type="email" formControlName="email" />

            @let email = form.controls.email;

            @if (email?.touched && email?.invalid) {
              <mat-error>
                @switch (true) {
                  @case (email?.errors?.["required"]) {
                    Email is required
                  }

                  @case (email?.errors?.["email"]) {
                    Invalid email address
                  }

                  @case (email?.errors?.["safeEmail"]) {
                    This email domain is not allowed
                  }
                }
              </mat-error>
            }
          </mat-form-field>

          <!-- Password -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Password</mat-label>

            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
            />

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide or show password'"
            >
              <mat-icon class="dark:text-gray-200">
                {{ hidePassword ? "visibility_off" : "visibility" }}
              </mat-icon>
            </button>

            @let password = form.controls.password;

            @if (password.touched || password.dirty) {
              <mat-error>
                @switch (true) {
                  @case (password.errors?.["required"]) {
                    Password is required
                  }

                  @case (password.errors?.["weakPassword"]) {
                    Must be at least 12 characters
                  }
                }
              </mat-error>
            }
          </mat-form-field>

          <!-- Confirm Password -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Confirm Password</mat-label>

            <input
              matInput
              [type]="hideConfirmPassword ? 'password' : 'text'"
              formControlName="confirmPassword"
            />

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hideConfirmPassword = !hideConfirmPassword"
              [attr.aria-label]="'Hide or show confirm password'"
            >
              <mat-icon class="dark:text-gray-200">
                {{ hideConfirmPassword ? "visibility_off" : "visibility" }}
              </mat-icon>
            </button>

            @let confirm = form.controls.confirmPassword;
            @let showErrors = confirm.touched || confirm.dirty;

            @if (showErrors) {
              <mat-error>
                @switch (true) {
                  @case (confirm.errors?.["required"]) {
                    Confirmation is required
                  }

                  @case (confirm.errors?.["mismatch"]) {
                    Passwords do not match
                  }
                }
              </mat-error>
            }
          </mat-form-field>

          <!-- Invite Token -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Invite Token</mat-label>

            <input matInput type="text" formControlName="token" />

            @let token = form.controls.token;

            @if (token?.touched && token?.invalid) {
              <mat-error>
                @if (token?.errors?.["required"]) {
                  Invite token is required
                }
              </mat-error>
            }
          </mat-form-field>

          <!-- Submit Button -->
          <button
            mat-flat-button
            color="primary"
            class="rounded-xl shadow-md mt-4 dark:bg-blue-700 dark:text-white"
            type="submit"
            [disabled]="form.invalid || isSubmitting"
          >
            Register
          </button>
        </form>

        <div class="text-center text-sm text-gray-600 dark:text-gray-300 mt-6">
          Already have an account?
          <a
            routerLink="/account/login"
            class="text-primary-app text-sm font-semibold hover:underline dark:text-blue-400"
          >
            Login here
          </a>
        </div>
      </mat-card>
    </div>
  </main>

  <app-footer></app-footer>
</div>
