<div class="min-h-screen flex flex-col">
  <app-header></app-header>

  <main class="flex-grow relative">
    <div class="p-4 pt-10 w-full max-w-screen-sm mx-auto">
      <mat-card class="p-6 rounded-2xl shadow-md hover:shadow-lg transition">
        <h2
          class="text-xl font-semibold text-center mb-6 text-gray-900 dark:text-gray-200"
        >
          Reset Password
        </h2>

        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="flex flex-col gap-4"
        >
          <!-- New Password -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>New Password</mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide or show password'"
            >
              <mat-icon class="dark:text-gray-200">{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            @let password = form.controls.password;

            @if (password.touched || password.dirty) {
              <mat-error>
                @switch (true) {
                  @case (password.errors?.["required"]) {
                    Password is required
                  }

                  @case (password.errors?.["weakPassword"]) {
                    Password must be at least 12 characters
                  }
                }
              </mat-error>
            }
          </mat-form-field>

          <!-- Confirm Password -->
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>

            <input
              matInput
              [type]="hideConfirmPassword ? 'password' : 'text'"
              formControlName="confirmPassword"
            />

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hideConfirmPassword = !hideConfirmPassword"
            >
              <mat-icon>{{
                hideConfirmPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>

            @let confirm = form.controls.confirmPassword;

            @if (
              (confirm.touched || confirm.dirty) && confirm.errors?.["required"]
            ) {
              <mat-error>Confirm password is required</mat-error>
            }

            @if (
              (confirm.touched || confirm.dirty) && form.hasError("mismatch")
            ) {
              <mat-error>Passwords do not match</mat-error>
            }
          </mat-form-field>

          <!-- Submit Button -->
          <button
            mat-flat-button
            color="primary"
            class="rounded-xl shadow-md mt-4 dark:bg-blue-700 dark:text-white"
            type="submit"
            [disabled]="form.invalid"
          >
            Reset Password
          </button>
        </form>

        <div class="text-center text-sm text-gray-600 dark:text-gray-300 mt-6">
          Remembered your password?
          <a
            routerLink="/account/login"
            class="text-primary-app text-sm font-semibold hover:underline dark:text-blue-400"
          >
            Login here
          </a>
        </div>
      </mat-card>
    </div>
  </main>

  <app-footer></app-footer>
</div>
