<h2 mat-dialog-title class="text-lg font-semibold dark:text-gray-300">
  Advanced Search
</h2>

<form
  [formGroup]="form"
  (ngSubmit)="onApplyFilters()"
  class="flex flex-col gap-4"
>
  <mat-dialog-content class="mt-4">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col sm:flex-row gap-4">
        <!-- Country -->
        <mat-form-field appearance="fill" class="w-full sm:w-1/2">
          <mat-label class="dark:text-gray-200">Filter by Country</mat-label>

          <mat-select
            formControlName="country"
            class="dark:bg-[#26292b] dark:text-gray-100"
          >
            <mat-option value="">All</mat-option>

            @for (country of countries; track $index) {
              <mat-option [value]="country">
                {{ country }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- Century -->
        <mat-form-field appearance="fill" class="w-full sm:w-1/2">
          <mat-label class="dark:text-gray-200">Filter by Century</mat-label>

          <mat-select
            formControlName="century"
            class="dark:bg-[#26292b] dark:text-gray-100"
          >
            <mat-option value="">All</mat-option>

            @for (c of centuries; track $index) {
              <mat-option [value]="c">
                {{ c | roman }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Tags -->
      <div>
        <label class="block mb-1 font-medium text-sm dark:text-gray-400">
          Tags
        </label>

        @let selectedTags = form.controls.tags.value;

        <div class="flex flex-wrap gap-2 mt-1">
          @for (tag of tags; track $index) {
            @if (selectedTags.includes(tag)) {
              <button
                type="button"
                (click)="unselectTag(tag)"
                class="text-xs font-medium px-3 py-1 rounded-full bg-green-600 text-white shadow-sm dark:bg-green-700"
              >
                {{ tag.name }}
              </button>
            } @else {
              <button
                type="button"
                (click)="selectTag(tag)"
                class="text-xs font-medium px-3 py-1 rounded-full bg-gray-200 text-gray-800 shadow-sm dark:bg-gray-700 dark:text-gray-100"
              >
                {{ tag.name }}
              </button>
            }
          }
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="mt-6">
    <button mat-button class="dark:text-gray-200" mat-dialog-close>
      Cancel
    </button>

    <button
      mat-flat-button
      color="primary"
      class="dark:bg-blue-700 dark:text-white"
      type="submit"
      [disabled]="form.invalid"
    >
      Apply Filters
    </button>
  </mat-dialog-actions>
</form>
