<div class="min-h-screen flex flex-col">
  <app-header></app-header>

  <main class="flex-grow relative">
    <div class="p-4 pt-10 w-full max-w-screen-sm mx-auto">
      <mat-card class="p-6 rounded-2xl shadow-md hover:shadow-lg transition">
        <h2
          class="text-xl font-semibold text-center mb-6 text-gray-900 dark:text-gray-200"
        >
          Login
        </h2>

        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="flex flex-col gap-4"
        >
          <!-- Email -->
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
            @let email = form.controls.email;
            @if (email.touched && email.invalid) {
              <mat-error>
                @switch (true) {
                  @case (email.errors?.["required"]) {
                    Email is required
                  }

                  @case (email.errors?.["email"]) {
                    Invalid email format
                  }

                  @case (email.errors?.["safeEmail"]) {
                    Invalid email address
                  }
                }
              </mat-error>
            }
          </mat-form-field>

          <!-- Password -->
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide or show password'"
            >
              <mat-icon class="dark:text-gray-200">{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            @let password = form.controls.password;
            @if (password.touched && password.invalid) {
              <mat-error> Password is required </mat-error>
            }
          </mat-form-field>

          <!-- Forgot password -->
          <div class="text-right -mt-2 mb-2">
            <a
              routerLink="/account/forgot-password"
              class="text-primary-app text-sm font-semibold hover:underline dark:text-blue-400"
            >
              Forgot your password?
            </a>
          </div>

          <!-- Remember me -->
          <mat-checkbox formControlName="rememberMe" labelPosition="after">
            <span class="dark:text-gray-200">Remember me</span>
          </mat-checkbox>

          <button
            mat-flat-button
            color="primary"
            class="rounded-xl shadow-md mt-4 dark:bg-blue-700 dark:text-white"
            type="submit"
            [disabled]="form.invalid || isSubmitting"
          >
            Login
          </button>
        </form>

        <div class="text-center text-sm text-gray-600 dark:text-gray-300 mt-6">
          Don’t have an account?
          <a
            routerLink="/account/register"
            class="text-primary-app text-sm font-semibold hover:underline dark:text-blue-400"
          >
            Register here
          </a>
        </div>
      </mat-card>
    </div>
  </main>

  <app-footer></app-footer>
</div>
