<div class="p-4">
  <!-- Header -->
  <div
    class="flex flex-col gap-4 mb-6 md:flex-row md:items-center md:justify-between"
  >
    <!-- Title + Buttons -->
    <div class="flex flex-col gap-4 md:flex-row md:items-center md:gap-6">
      <h1
        class="text-2xl font-bold text-primary-app md:text-3xl dark:text-primary-app"
      >
        Miracles
      </h1>

      <div class="flex flex-wrap gap-3">
        <button
          (click)="manageTags()"
          mat-stroked-button
          color="primary"
          class="flex items-center dark:text-gray-200 dark:bg-blue-900 border dark:border-0"
        >
          <mat-icon class="dark:text-gray-300">label</mat-icon>
          <span class="ml-1">Manage Tags</span>
        </button>
      </div>
    </div>

    <!-- Action Button -->
    <a
      mat-fab
      extended
      [routerLink]="['/admin', 'miracles', 'create']"
      class="self-start md:self-auto bg-primary-app text-white hover:bg-primary-app/90 dark:text-white bg-blue-700"
    >
      <mat-icon>add</mat-icon>
      <span>Create new Miracle</span>
    </a>
  </div>

  <!-- Table -->
  <div
    class="w-full overflow-x-auto bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow"
  >
    <app-admin-content-table
      [data]="miracles"
      [excludedColumns]="[
        'image',
        'tags',
        'markdownPath',
        'religiousOrder',
        'slug',
      ]"
      [deleteFn]="deleteMiracle"
      [loadData]="loadMiracles"
      class="dark:text-gray-100"
    ></app-admin-content-table>
  </div>
</div>
